<div class=" text-center my-3">
<!-- Add button -->
  <button mat-raised-button color="primary" (click)="addCourse()">Add Course</button>
  <div *ngIf="courses.length === 0">
    <p class="text-primary lead my-3">No Record!</p>
  </div>
</div>

<!-- If there are no courses -->

<!-- if there are some courses -->
<div *ngIf="courses.length > 0">
  <!-- table -->
  

   <div class="container" style="width: 75%;">
    <table class="table table-bordered">
      <thead class="text-center">
        <tr>
          <th *ngFor="let column of displayedColumns" scope="col">{{column | titlecase}}</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr *ngFor="let course of courses">
          <td>{{course.id}}</td>
          <td>{{course.name}}</td>
          <td>{{course.duration}}</td>
          <td>
            <button mat-icon-button (click)="editCourse(course)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button color="warn" type="button" data-toggle="modal" data-target="#exampleModal"><mat-icon>delete</mat-icon></button>
            
          </td>
        </tr>
      </tbody>
    </table>
  </div>
   </div>
   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
    Launch demo modal
  </button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>