<!-- src/app/course-dialog/course-dialog.component.html -->

<h1 mat-dialog-title>{{ data.course.id ? 'Edit Course' : 'Add Course' }}</h1>
<div mat-dialog-content>
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Course Name</mat-label>
      <input matInput [(ngModel)]="course.name">
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field appearance="fill">
      <mat-label>Duration</mat-label>
      <input matInput [(ngModel)]="course.duration">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button (click)="onSave()" color="primary">Save</button>
</div>
